version: "3.9"

services:
  db:
    image: postgres:15
    env_file: .env
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - axynetwork
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "axyuser", "-d", "axydb"]
      interval: 10s
      retries: 5

  backend:
    build: ./backend
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - axynetwork

  frontend:
    build: ./frontend
    ports:
      - "8000:80"
    networks:
      - axynetwork

networks:
  axynetwork:
    driver: bridge

volumes:
  db_data:
